# exclude
*

# include
!assets
!assets/*
!components
!components/*
!contexts
!contexts/*
!errors
!errors/*
!hooks
!hooks/*
!styles
!styles/*
!utils
!utils/*
!.eslintrc.json
!.gitignore
!.proxyrc.json
!App.jsx
!config.js
!index.html
!index.jsx
!package.json
!package-lock.json
!README.md
